node_modules/
.DS_Store
.idea/
*.tgz
npm-debug.log
*/lib/
*/docs/
*/node_modules/
*.env

packages/react/*
!packages/react/src
!packages/react/clean.js
!packages/react/.npmignore
!packages/react/package-lock.json
!packages/react/package.json
!packages/react/README.md
!packages/react/webpack.config.js

lerna-debug.log
