button {
  font-size: 1rem;
  background-color: rgb(0, 119, 255);
  color: white;
  padding: 1rem;
  border: 0;
  cursor: pointer;

  &:hover {
    background-color: rgb(0, 64, 138);
  }
}

button.is-loading {
  opacity: 0.5;
  cursor: not-allowed;

  &:hover {
    background-color: rgb(0, 119, 255);
  }
}
